{% extends 'base.html' %}



{% block title %}
  {% if category %}
    {{ category.name }}
  {% else %}
    BUS-Review
  {% endif %}
{% endblock %}


{% block content %}
        <div class="row">
        <div class="col-lg-3 col-padding">
            <ul class="list-group">

              <li class="list-group-item">
                <label>Категории</label>
              </li>

              {% for cat in categories %}
              <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'category' cat.id %}" style="text-align: center;">{{cat}}</a>
              </li>
              {% endfor %}

              
            </ul>
        </div>
        {% if not reviews %}
          <h3>Рецензии не найденны</h3>
        {% else %}
          <div class="card col-lg-9 col-padding">
              <div class="card-header"><h2>Рецензии</h2></div>
              <ul class="list-group list-group-flush">
                {% for rev in reviews %}
                  <li class="list-group-item">
                    <a href="{% url 'review' rev.id %}">
                      <h2>{{ rev.title }}</h2>
                    </a>
                  </li>
                {% endfor %}
            </ul>
          </div>
        {% endif %}
    </div>
{% endblock %}

{% block pagination %}
    {% if pages %}
        <div class="text-center">
           {% for page in pages %}

            {% if category %}
                <a class="btn btn-link btn-outline-primary" style="margin-top: 10px;" href="{% url 'category_page' category.id page %}">
                 {{ page }}
                </a>
            {% elif author %}
                <a class="btn btn-link btn-outline-primary" style="margin-top: 10px;" href="{% url 'by_author_page' author page %}">
                 {{ page }}
                </a>
            {% elif object %}
                <a class="btn btn-link btn-outline-primary" style="margin-top: 10px;" href="{% url 'by_object_page' object page %}">
                 {{ page }}
                </a>
            {% else %}
                <a class="btn btn-link btn-outline-primary" style="margin-top: 10px;" href="{% if query %}{% url 'query_page' page query %}{% else %}{% url 'page' page %}{% endif %}">
                   {{ page }}
                </a>
            {% endif %}

           {% endfor %}
        </div>
    {% endif %}
{% endblock %}