{% extends 'base.html' %}



{% block title %}
  {% if category %}
    {{ category.name }}
  {% else %}
    BUS-Review
  {% endif %}
{% endblock %}


{% block content %}
        <div class="row">
        <div class="col-lg-3 col-padding">
            <ul class="list-group">

              <li class="list-group-item">
                <label>Категории</label>
              </li>

              {% for cat in categories %}
              <li class="list-group-item">
                <a class="dropdown-item" href="{% url 'category' cat.id %}" style="text-align: center;">{{cat}}</a>
              </li>
              {% endfor %}

              
            </ul>
        </div>
        <div class="col-lg-9 col-padding bg-light">
            <h1>Рецензии</h1><hr>
            {% if not reviews %}
                <h3>Рецензии не найденны</h3>
            {% endif %}
            {% for rev in reviews %}
              <a href="{% url 'review' rev.id %}">
                <h2>{{ rev.title }}</h2>
              </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}